<div class="d-flex justify-content-center">
  <h1 class="title-underline">Web Projects</h1>
</div>

<div class="row mx-3">

      <% data.products.each do |product| %>
        <div class="card-pictures col-sm-12 col-md-6 d-flex justify-content-center align-items-center">
          <img class="project-image w-100" src="<%= image_path(product.image) %>">
        </div>
        <div class="card-description col-sm-12 col-md-6 d-flex flex-column justify-content-center align-items-start">
          <h2><%= product.name %></h2>
          <h5><%= product.role %></h5>
          <p><%= product.description %></p>
          <div class="card-tags">
            <% product.tags.each do |tag| %>
              <span><i class="<%= tag %>"></i></span>
            <% end %>
          </div>
        </div>
      <% end %>

    </div>

</div>


<!-- <div class="device device-macbook-pro device-spacegray">
  <div class="device-frame">
    <img class="device-content" src="src/img/bg-06.jpg">
  </div>
  <div class="device-stripe"></div>
  <div class="device-header"></div>
  <div class="device-sensors"></div>
  <div class="device-btns"></div>
  <div class="device-power"></div>
</div> -->
