<div class="d-flex justify-content-center">
  <h1 class="title-underline">Web Projects</h1>
</div>

<div class="pb-5">
  <div class="row mx-3 pb-4">

        <% data.products.each do |product| %>
          <div class="card-pictures col-sm-12 col-md-6 d-flex justify-self-center align-items-center">
            <img class="project-image w-100 shadow" src="<%= image_path(product.image) %>" alt="Project image on Macbook screen">
          </div>
          <div class="card-description col-sm-12 col-md-6 d-flex flex-column justify-content-center align-items-start pt-2">
            <h2 class="ml-3"><%= product.name %></h2>
            <h5 class="ml-3"><%= product.role %></h5>
            <p class="ml-3"><%= product.description %></p>
            <div class="card-tags ml-3">
              <% product.tags.each do |tag| %>
                <span><i class="<%= tag %>"></i></span>
              <% end %>
            </div>
            <div class="row">
            <div class="col-sm-12 d-flex pt-3 justify-content-between ml-3">
              <div class="button-square-site mr-2">
                <% link_to product.url, class: 'site-button', target: '_blank' do %>
                  <i class="far fa-window-maximize pr-2"></i><span>View site</span>
                <% end %>
              </div>
              <div class="button-square-github">
                <% link_to product.github, class: 'github-button', target: '_blank' do %>
                  <i class="fab fa-github-square pr-2"></i><span>View code</span>
                <% end %>
              </div>
            </div>
            </div>

          </div>
        <% end %>
      </div>
  </div>
</div>
